.profile__edit {
    height: 24px;
    width: 24px;
    align-self: center;
    margin-left: 14px;
    display: inline-block;
}

@media (max-width: 768px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}