.element__button {
    background-image: url(../../../images/like_disabled.svg);
    width: 22px;
    height: 19px;
    border: none;
    padding: 0;
    align-self: center;
    background-color: transparent;
}

.element__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__button:active {
    background-image: url(../../../images/like_active.svg);
}